:root {
  --blue: #1e2d64;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: semplicitapro, Arial, sans-serif;
  color: var(--blue);
}

nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
  a {
    color: white;
    text-decoration: none;
    font-weight: 600;

    transition: all 0.3s ease;
    &:hover {
      text-decoration: underline;
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
  }
}

main {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 5px;

  nav.main-nav {
    font-size: 16px;
    justify-content: right;
    margin-top: 20px;
    a {
      margin-left: 30px;
    }
  }
  img {
    width: 100%;
  }

  article {
    border-top: solid 3px var(--blue);
    margin: 30px auto;
    padding: 30px 0;
    width: 1000px;
  }
}

.thin-blue-line {
  width: 100%;
  height: 64px;
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 0;
}

.hero {
  border: 1px solid var(--grey-dark);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  img {
    display: block;
    border-radius: 5px;
  }
}

.headshot {
  float: left;
  margin: 0 20px 20px 0;
  width: 170px;
  img {
    border-radius: 5px;
  }
}

.title {
  margin-bottom: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1000px;
  input,
  textarea {
    font-size: 24px;
  }

  input,
  textarea {
    border: 1px solid var(--blue);
    border-radius: 5px;
    margin-bottom: 24px;
    padding: 10px;
  }

  button {
    font-size: 24px;
    width: 300px;
    margin: 30px auto;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
}

footer {
  background-color: var(--blue);
  color: white;
  display: block;
  height: 64px;
  width: 100%;
  .footer-container {
    align-items: center;
    display: flex;
    flex-direction: row;

    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    width: 1000px;
  }
  nav.footer-nav {
    font-size: 80%;
    justify-content: left;
    flex-grow: 1;
    a {
      margin-right: 30px;
    }
  }
  .footer-text {
    flex-grow: 2;
    font-size: 80%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
}
